<ion-tabs>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <img src="../../assets/icon/logo.png" width="55" alt="Logo" />
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
