<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/icon/logo.png" width="55" alt="">
    </ion-title>
  </ion-toolbar>
  <ion-segment [scrollable]="true">
    @for (item of todoSegment; track $index) {
      <ion-segment-button [value]="item?.name">
        <ion-icon [color]="item?.color" [name]="item?.icon"></ion-icon>
        <ion-label>{{item?.value}}</ion-label>
      </ion-segment-button>
    }
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>
